/* Global */

* {
  font-family: 'Rubik';
  overflow-x: hidden;
  color: rgb(34, 34, 34);
}

/* Hide scrollbar */

html::-webkit-scrollbar, body::-webkit-scrollbar, .content::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: calc(10px + 0.33vw);
  width: 50%;
  margin: auto;
  justify-items: center;
}

.fade_out {
  position: absolute !important;
}

/* Grid */

.grid_container {
  display: grid;
  top: 0 !important;
  margin-top: 8vh;
  grid-template-columns: 2;
  grid-template-rows: auto;
}
.grid_item {
  justify-self: center;
}


h1 {
  font-size: 2.5em;
  font-weight: 400;
  margin-bottom: 0;
  overflow-y: hidden;
}

h6 {
  font-weight: 400;
  font-size: 1.6em;
  margin-top: 3vh;
  margin-bottom: 3vh;
  overflow-y: hidden;
}

p {
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.4;
  max-width: 28em;
}

/* Links */

a {
  text-decoration: none;
  position: relative;
}

a:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 70%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
  background-color: rgba(48, 82, 47, 0.356);
}

a:hover:after {
  top: 0%;
}

/* Contact links */

#contact_links {
  display: inline-flex;
  flex-direction: row-reverse;
  gap: 30px;
  margin-right: 8vw;
  margin-top: 1vh;
  margin-bottom: 3vh;
}
#contact_links {
  justify-self: right !important;
}
#contact_links a {
  background-color: white !important;
}

.icon {
  font-size: calc(13px + 0.6vw);
  transition: color 0.4s;
  cursor: pointer;
  padding: 0;
}

.material-icons {
  font-size: calc(15px + 0.6vw) !important;
  background-color: none;
  transition: none;
}

.fa-user-circle:hover {
  color: rgba(85, 160, 80, 0.5);
  transition: color 0.4s;
}

.fa-linkedin-in:hover {
  color: rgba(85, 160, 80, 0.5);
  transition: color 0.4s;
}

.fa-github:hover {
  color: rgba(85, 160, 80, 0.5);
  transition: color 0.4s;
}

.fa-file-pdf-o:hover {
  color: rgba(85, 160, 80, 0.5);
  transition: color 0.4s;
}

.material-icons:hover {
  color: rgba(85, 160, 80, 0.5);
  transition: color 0.4s;
}

/* Fade transitions */

/* Fade out p5.js */

.fade_out {
  opacity: 1;
  animation: fadeOut ease 3s forwards;
  -webkit-animation: fadeOut ease 3s forwards;
  -moz-animation: fadeOut ease 3s forwards;
  -o-animation: fadeOut ease 3s forwards;
  -ms-animation: fadeOut ease 3s forwards;
  animation-delay: 10.0s;
}

/* Fade in text */

.fade_in_page {
  opacity: 0;
  animation: fadeIn ease 4s forwards;
  -webkit-animation: fadeIn ease 4s forwards;
  -moz-animation: fadeIn ease 4s forwards;
  -o-animation: fadeIn ease 4s forwards;
  -ms-animation: fadeIn ease 4s forwards;
  animation-delay: 13.0s;
}

/* Rapid fade in text if previously visited site */

.rapid_fade_in {
  opacity: 0;
  animation: fadeIn ease 2.2s forwards;
  -webkit-animation: fadeIn ease 2.2s forwards;
  -moz-animation: fadeIn ease 2.2s forwards;
  -o-animation: fadeIn ease 2.2s forwards;
  -ms-animation: fadeIn ease 2.2s forwards;
}

/* Fade in */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Fade out */

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}