/* Global */

html {
    font-weight: 500 !important;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

/* Links */

a {
    margin: none !important;
    padding: none !important;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0% 0.5px;
    transition: background-size cubic-bezier(0.it25, 0.25, 0.25, 0.25) 0.25s;
}

a span {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size cubic-bezier(0.25, 0.25, 0.25, 0.25) 0.25s;
}

a:hover {
    text-decoration: none !important;
}

a span:hover {
    text-decoration: none;
    background-size: 100% 1px;
}

/* Light theme (default) and general */

:root {
    --base-font-family: Helvetica Nue;
    --base-font-weight: 400;
    --base-font-size: 16px;
    --base-background-color: #f2f2f2;
    --base-color: #4d4d4d;
    --theme-color: none;
    --sidebar-background: none !important;
    --sidebar-nav-link-color--active: rgb(208, 208, 208);
    --sidebar-nav-link-text-decoration--active: none;
    --sidebar-transition-duration: var(--duration-medium);
    --cover-background-color: #f2f2f2;
    --cover-background-mask-opacity: 1;
    --code-font-size: calc(var(--font-size-m) * 0.85);
    --content-max-width: 45em;
    --duration-slow: 0.5s;
    --duration-fast: 0.5s;
    --spinner-size: 35px;
    --spinner-track-width: 2px;
    --spinner-track-color: rgba(0, 0, 0, 0.15);
    --cover-background-color: var(--base-background-color);
    --toc-link-color: rgb(77, 77, 77) !important;
    --toc-link-hover-color: rgb(175, 175, 175) !important;
    --link-text-decoration: none;
    /* Markdown styles */
    --heading-margin: 1rem 0 0 0;
    --navbar-root-transition: var(--duration-fast);
    --code-theme-background: rgb(226, 226, 226);
    --toc-border-color: rgb(228, 228, 228);
    --toc-border-color--active: var(--sidebar-nav-link-color--active);
}

/* Dark theme  */

[data-theme="dark"] {
    --sidebar-nav-link-color--active: rgb(99, 99, 99);
    --dark-background-color: rgb(51, 51, 51);
    --dark-font-color: rgb(196, 196, 196);
    --code-theme-background: rgb(72, 72, 72);
    --search-background: rgb(70, 70, 70);
    --heading-color: var(--dark-font-color);
    --strong-color: var(--dark-font-color);
    --base-background-color: var(--dark-background-color);
    --cover-background-color: var(--dark-background-color);
    --cover-background-mask-color: var(--dark-background-color);
    --base-color: var(--dark-font-color);
    --toc-link-color: var(--toc-link-hover-color) !important;
    --toc-link-hover-color: rgb(138, 138, 138) !important;
    /* odd table row color on dark mode */
    --mono-tint3: rgb(59, 59, 59);
    --toc-border-color: rgb(145, 145, 145);
    --toc-border-color--active: var(--sidebar-nav-link-color--active);
}

/* Dark/light toggle button */

#theme-toggle-button {
    opacity: 0.8;
    position: fixed;
    top: 95vh;
    left: 0;
    margin-left: 10%;
    /* z-index: 1 !important; */
}

#theme-toggle-button:hover {
    opacity: 0.3;
    transition: opacity 1s;
}

/* Links */

a:hover {
    text-decoration: none !important;
}

a {
    margin: none !important;
    padding: none !important;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0% 0.5px;
    transition: background-size cubic-bezier(0.it25, 0.25, 0.25, 0.25) 0.25s;
}

a span {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size cubic-bezier(0.25, 0.25, 0.25, 0.25) 0.25s;
}

a span:hover {
    text-decoration: none;
    background-size: 100% 1px;
}

/* Cover page */

.cover {
    z-index: 10 !important;
}

.cover-info {
    line-height: 120%;
    opacity: 0;
}

/* Main content */

section.content {
    padding: 25px 0 0 0 !important;
    margin: 0 0 0 0 !important;
}

.markdown-section {
    margin: auto;
    margin-bottom: 10%;
}

.md-list {
    list-style: circle !important;
}

.md-image {
    width: 80%;
    margin: 3%;
    margin-left: 10%;
}

/* Table of contents */

.page_toc {
    font-size: smaller !important;
    margin-top: 50% !important;
}

.page_toc div {
    border-left: 2px solid var(--toc-border-color) !important;
    text-indent: 10px;
    padding: 2px 0;
    cursor: pointer;
}

.page_toc div.active {
    border-left-color: var(--toc-border-color--active) !important;
    transition: border-left-color 0.23s;
}

.page_toc div[class^="lv"] a span {
    color: var(--toc-link-color) !important;
}

.page_toc div[class^="lv"] a span:hover {
    color: var(--toc-link-hover-color) !important;
    border-left-color: var(--toc-link-color);
    background-size: 0px !important;
}

/* Contact icons */

.contact-links {
    margin-top: 30%;
    opacity: 0;
}

.contact-links * {
    margin: 5px;
    font-size: 13px;
}

.contact-links-about * {
    margin: 5px;
    font-size: 13px;
    float: right;
}

/* About page */

.about {
    width: 65%;
    min-width: 300px;
    margin: auto;
}

#about_header {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.about a, .about .contact-links {
    text-align: center;
}

/* Contact links */

.icon {
    transition: color 0.4s;
    cursor: pointer;
    padding: 0;
}

.fa-envelope:hover, .fa-linkedin-in:hover, .fa-github:hover, .fa-file-pdf:hover {
    color: var(--toc-link-hover-color);
    transition: color 0.4s;
}

.sidebar-heading:hover {
    cursor: pointer;
}

/* Mobile */

/* Portrait */

@media only screen and (max-width: 1299px) {
    aside.toc-nav {
        display: none;
    }
    .markdown-section {
        padding-left: 10vw;
    }
    aside.toc-nav:hover {
        display: none;
    }
}

@media only screen and (max-width: 769px) {

    #theme-toggle-button {
        position: relative !important;
        top: inherit !important;
        bottom: -200px !important;
    }
}

/* Landscape */

@media only screen and (max-height: 320px) {
    /* Hide svg */
    #circles-animation {
        display: none;
    }
    .markdown-section {
        padding-left: 10vw;
    }
    #theme-toggle-button {
        position: relative !important;
        top: inherit !important;
        bottom: -200px !important;
    }
}

/* Transitions */

.fade-in-1 {
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
}

.fade-in-2 {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.fade-in-3 {
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}