/* Global */

html, body, .content, .sidebar {
  font-family: Garamond !important;
  background-color: #ffffff !important;
  font-size: 12px;
}

/* Hide scrollbar */

html::-webkit-scrollbar, body::-webkit-scrollbar, .content::-webkit-scrollbar, .sidebar::-webkit-scrollbar {
  display: none;
}

/* Index landing */

.landing_grid_container {
  
}


