* {
    font-family: 'Rubik';
    overflow: hidden;
    color: black;
  }
  
  /* @font-face {
    font-family: 'Rubik';
    src: url('../assets//Rubik/static/Rubik-Light.ttf');
    font-weight: normal;
    font-style: normal;
  } */
  
  html, body {
    overflow-x: hidden;
  }
  
  body {
    position: relative;
  }
  
  /* Hide scrollbar */
  
  html::-webkit-scrollbar, body::-webkit-scrollbar, .content::-webkit-scrollbar {
    display: none;
  }

  body {
      width: 50%;
      margin: auto;
  }

  h3 {
      font-size: 50px;
  }
  h6 {
      font-weight: 300;
      font-size: 2.2em;
      margin-top: 5%;
      margin-bottom: 5%;


  }
  

.landing_contact_links {
    display: inline-flex;
    align-self: center;
    /* margin-top: 8vh !important; */
    justify-self: top;
    /* grid-column: 2;
    grid-row: 3; */
  }

  .landing_contact_links a::after {

    background-color: none !important;
    transition: none !important;
  }
  
  .landing_contact_links a {
    justify-items: center;
    margin-left: 10px;
  }
  
  /* Landing about modal */
  

  body {
    font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
    font-size: calc(10px + 0.33vw);
    /* -webkit-font-smoothing: antialiased;
    padding: 5vh 10vw;
    color: #121314; */
  }
  h1 {
    font-size: 2.5em;
    font-weight: 300;
    margin-bottom: 0;
  }
  p {
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.4;
    max-width: 28em;
  }
  a {
    text-decoration: none;
    /* color: #121314; */
    position: relative;
  }
  a:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 60%;
    left: -0.1em;
    right: -0.1em;
    bottom: 0;
    transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
    background-color: rgba(85, 160, 80, 0.5);
	/* fill(85 + 25 * rand2(), 140 + 15 * rand2(), 80 + 15 * rand2()); */
  }
  a:hover:after {
    top: 0%;
  }

  .grid_container {
      display: grid;
      grid-template-columns: 1;
      grid-template-rows: auto;
  }

  /* Contact icon links */

.icon {
    font-size: calc(13px + 0.6vw);
    transition: color 0.4s;
    cursor: pointer;
    margin-left: 30px;
  }

  .icon::after {

    background-color: none;
    transition: none;
  }

  .material-icons::after {

    background-color: none;
    transition: none;
  }
  
  .material-icons {
    font-size: calc(15px + 0.6vw) !important;
    background-color: none;
    transition: none;
  }
  
  .fa-user-circle:hover {
    color: rgba(85, 160, 80, 0.5);
    transition: color 0.4s;
  }
  
  .fa-linkedin-in:hover {
    color: rgba(85, 160, 80, 0.5);
    transition: color 0.4s;
  }
  
  .fa-github:hover {
    color: rgba(85, 160, 80, 0.5);
    transition: color 0.4s;
  }
  
  .fa-file-pdf-o:hover {
    color: rgba(85, 160, 80, 0.5);
    transition: color 0.4s;
  }
  
  .material-icons:hover {
    color: rgba(85, 160, 80, 0.5);
    transition: color 0.4s;
  }