{% extends "layout.html" %}
{% block title %}about{% endblock %}
{% block content %}
<div class="fade_in_page">


    <div class="content">
        <iframe id="ytplayer" type="text/html" width="640" height="360"
            src="https://www.youtube.com/embed/ai6nz2hmtW8?autoplay=0" frameborder="0">
        </iframe>
        <div class="about_text">
            <p>
                &emsp;d
            </p>
            <p>
                &emsp; d
                <a href="../static/assets/resume/resume.pdf" download="resume" class="resume">
                    <span>
                        resume
                    </span>
                </a>.
            <p>
                d
            </p>
            <p class="about_signature">
                - Al
            </p>
        </div>
    </div>
</div>
{% endblock %}