{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<div class="content fade_in_page">
    <iframe id="ytplayer" type="text/html" width="640" height="360"
        src="https://www.youtube.com/embed/ai6nz2hmtW8?autoplay=0" frameborder="0">
    </iframe>
    <div class="about_text">
            <p>
                &emsp; The best things in life involve building meaningful relationships with people and
                spending as much time as possible in and appreciating nature.A year of my time was spent with a remarkable community at Spring Valley Farm in Connecticut, and I have also had the privilege to dedicate two summers to completing the Appalachian and Pacific Crest Trails.
        </p>
        <p>          
            &emsp; With a boundless curiosity for the world, I aspire to apply techology towards solving meaningful problems. Feel free to check out my <a href="../static/assets/resume/resume.pdf" download="resume" class="yo"><span>resume</span></a> if you are into that sort of thing.   <p>
            I try to approach each day with the optimism which it deserves, and am grateful for the many oppurtunities I
            have had and those which await to do my part to better the world in small steps.
        </p>
        <p class="about_signature">
            - Al
        </p>
    </div>

</div>
{% endblock %}

<!-- <p>
    I thought it wise to jot some of my ideas here (primarily for my own organizational benefit - if they interest you, all the better)!
</p> -->
<!-- <p>
    I was born in Mystic, Connecticut (of sailing fame) in 1996 and have made my way down to Washington D.C.
    for cherry blossoms. I am passionate about creating a more holistically
    sustainable world - starting with social sustainability. To this end, I am leading the creation of a project
    to one day eliminate the stigma against vocational (so-called "blue-collar") work, and begin bridging the
    human-connectedness gap between the working class and "urban-elite", which of late has come into high-relief
    on the political stage. </p> -->