{% extends "layout.html" %}
{% block title %}index{% endblock %}
{% block sidebar %}
{% endblock %}
{% block content %}
<div class="fade_in_page landing_grid_container">

    <!-- Heading -->
    <div class="landing_heading ">
        <p id="name">Al Miller III</p>
        <p id="subtitle" class="fade_in_page_after">Software engineer passionate about holistic sustainability.</p>
    </div>

    <!-- Contact links -->
    <div class="landing_contact_links">
        <div class="contact_link">
            <i id="modalClick" class="far fa-user-circle icon"></i>
        </div>
        <div class="contact_link">
            <a href="https://www.linkedin.com/in/al-miller/" target="_blank">
                <i class="fab fa-linkedin-in icon"></i>
            </a>
        </div>
        <div class="contact_link">
            <a href="https://www.github.com/ANMillerIII/" target="_blank">
                <i class="fab fa-github icon"></i>
            </a>
        </div>
        <div class="contact_link">
            <a href="{{ url_for('static', filename='./assets/resume/resume_am.pdf') }}" target="_blank"
                download="resume_am">
                <i class="far fa-file-pdf-o icon"></i>
            </a>
        </div>
        <div class="contact_link">
            <a href="mailto:albert.miller@uconn.edu" target="_blank">
                <i class="material-icons icon">&#xe0e1;</i>
            </a>
        </div>
    </div>

    <!-- Modal -->
    <div id="aboutModal" class="modal">
        <div class="modalContent">
            <span class="closeModal" style="cursor: pointer;">&times;</span>
            <div class="landing_about">
                <div class="landing_about_heading">
                    <p>
                        Al is a software engineer passionate about all things at the intersection of technology and
                        sustainability. A few of his more recent projects and competencies are noted below.
                    </p>
                    <p>
                        Do please feel free to <a class="link" href="mailto:albert.miller@uconn.edu"><span>reach
                                out.</span></a>
                    </p>
                </div>
                <div class="landing_about_item">
                    <a class="link" href="https://github.com/ANMillerIII">
                        <h3><span>Cloud & Distributed Systems</span></h3>
                    </a>
                    <i>2 years experience</i>
                    <p><i>(In progress)</i> AWS Cloud Developer Certified - Associates (2020). Demonstrated
                        understanding of cloud best-practices and how to go from an idea to a widely distributed
                        product.</p>
                    <p>Particular experience in AWS Lambda, EC2, DynamoDB, Amplify, CloudFront, and IAM.</p>
                </div>
                <div class="landing_about_item">
                    <h3><span>Front-End Development</span></h3>
                    <i>2 years experience</i>
                    <p>Proficient in JavaScript, React & redux, and responsive web-design in general.</p>
                    <p>Solid background in design best-practices. Good eye for detail.</p>
                </div>
                <div class="landing_about_item">
                    <a class="link" href="https://github.com/ANMillerIII/NLP-Equipment-Failure-Mitigation"
                        target="_blank">
                        <h3><span>Machine Learning & Natural Language Processing</span></h3>
                    </a>
                    <i>3 years experience</i>
                    <p>Built various multi-label text-classification models (sklearn, NLTK, TensorFlow) for analysis of
                        utility equipment to identify trends and deficiencies in utility maintenance programs.</p>
                    <p>Applied knowledge of core-ML concepts such as model validation and sparse sampling and evaluated
                        tradeoffs to refine and benchmark model performance on heavily imbalanced datasets.</p>
                </div>
                <div class="landing_about_item">
                    <h3><span>SDLC, Agile, VCS and CI/CD</span></h3>
                    <i>4+ years experience</i>
                    <p>Team-oriented workstyle. Well-acquainted with Agile philosophies and workstyle, as well as more
                        traditional management styles.</p>
                    <p>Well-versed in SDLC best-practices, git, and a growing curiosity and understanding of continuous
                        integration/development methods.</p>
                </div>
                <div class="landing_about_item">
                    <a class="link" href="https://www.mpr.com/" target="_blank">
                        <h3><span>Technical Consulting Experience</span></h3>
                    </a>
                    <i>2+ years experience</i>
                    <p>Working at a boutique technical consulting firm in Washington D.C., consulting with management of
                        large capital projects including the Department of Energy and National Science Foundation, in
                        regards to project schedule and risk.</p>
                    <p>Built trusted internal and external partnerships, executed a number of fast-paced efforts.</p>
                </div>
                <div class="landing_about_item">
                    <a class="link" href="https://github.com/ANMillerIII/GIS-Risk" target="_blank">
                        <h3><span>Geographical Information Systems (GIS)</span></h3>
                    </a>
                    <i>2 years experience</i>
                    <p>Developed UI for utility asset management, specifically related to mitigation of wildfire risks
                        using PostGIS, Postgres, as well as the Esri ArcGIS JavaScript API.</p>
                    <p>Proficient in satellite image processing (LiDAR) and network analysis.</p>
                </div>
                <div class="landing_about_item">
                    <h3><span>Multi-Disciplinary Technical Background</span></h3>
                    <i>5+ years experience</i>
                    <p>Graduated with a degree in Mechanical Engineering from the University of Connecticut in 2018.</p>
                    <p>Developed expertise in Computational Fluid Dynamics, performing ventilation system calculations
                        for an energy storage systems provider directly used as the basis for saving millions in
                        potential regulatory-mandated retrofits.</p>
                    <p>Applied knowledge of statistics, particularly designing and executing Monte Carlo simulations
                        for predictive analysis in various applications including equipment failure rates, project
                        risk-based cost projections, and even neutronics (MCNP).</p>
                </div>

                <div class="landing_about_item" id="last_landing_about_item">
                    <a class="link" href="https://www.youtube.com/watch?v=ai6nz2hmtW8" target="_blank">
                        <h3><span>A Love of People and Nature</span></h3>
                    </a>
                    <i>24 years experience</i>
                    <p>Passionate about sustainability. Lived & worked on an organic farm for a year in college, doing
                        community outreach.</p>
                    <p>Through hiked the Appalachian and Pacific Crest Trails solo (summers of '17 and '18,
                        respectively).</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}"