<!DOCTYPE html>
<html lang="en">

    <head>
        {% block head %}
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap" rel="stylesheet">

        <title>Al Miller III</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Icon -->
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.svg') }}">

        <!-- Global styles -->
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"
            crossorigin="anonymous" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <!-- Contact links (FA and Material icons) -->
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">

        <script src="{{ url_for('static', filename='./js/mailgo.min.js') }}" defer></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-JXNHMQ5QNH"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'G-JXNHMQ5QNH');
        </script>
        {% endblock %}
    </head>

    <body>
        <!-- p5.js imports for tree -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/p5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/addons/p5.dom.min.js"></script> -->
        <script src="{{ url_for('static', filename='./js/p5.min.js') }}"></script>

        <!-- mailgo import -->
        <script src="{{ url_for('static', filename='./js/mailgo.min.js') }}" defer></script>

        
        {% block content %}
        {% endblock %}
        
        <!-- local JS imports for tree and modal -->
        <script src="{{ url_for('static', filename='./js/main.js') }}"></script>
        <script src="{{ url_for('static', filename='./js/modal.js') }}"></script>
    </body>

</html>