{% extends "layout.html" %}
{% block title %}portfolio{% endblock %}
{% block content %}
<div class="content fade_in_page_slower">
    <div class="thoughts">
        <h2>Computer Science</h2>
        {% for cs_project in cs_projects %}
        <h3>
            <a href="{{ url_for('portfolio_index', project_key=cs_project)}}">
                <span class="project_thought_title">
                    {{ cs_projects[cs_project].title }}
                </span>
            </a>
            <p class="thought_dates">
                <i>
                    {{ cs_projects[cs_project].date|format_date_time }}
                </i>
            </p>
            <div class="thought_skills"><i>{{cs_projects[cs_project].skills}}</i></div>

            {% endfor %}
    </div>
    <div class="thoughts" id="other_title">
        <h2>Other</h2>
        {% for other_project in other_projects %}
        <h3>
            <a href="{{ url_for('portfolio_index', project_key=other_project)}}">
                <span class="project_thought_title">
                    {{ other_projects[other_project].title }}
                </span>
            </a>
            <p>
                <i>
                    {{ other_projects[other_project].date|format_date_time }}
                </i>
            </p>
            {% endfor %}
    </div>
</div>
{% endblock %}