{% set active_page = request.path %}
<div class='{{"sidebar fade_in_page_slower" if rule=="./thoughts/landing.html" else "sidebar"}}'>

  <!-- <li > -->

  <div class="self_title">
    <h3>Al Miller III</h3>
    <p>Towards holistic sustainability.</p>
  </div>
  <div class="side_bar_top_margin"></div>
  <div class="links">
    <a href="./thoughts.html" {% if active_page == '/thoughts.html'  %}style="text-decoration: underline !important;"
      {% endif %}><span>thoughts</span></a>
    <a href="./portfolio.html" {% if active_page == '/portfolio.html'  %}style="text-decoration: underline !important;"
      {% endif %}><span>portfolio</span></a>
    <a href="./about.html" {% if active_page == '/about.html'  %}style="text-decoration: underline !important;"
      {% endif %}><span>about</span></a>
  </div>
  <div class="contact">
    <div class="row">
      <div class="column">
        <a href="https://www.linkedin.com/in/al-miller/">
          <i class="fa fa-linkedin icon"></i>
        </a>
      </div>
      <div class="column">
        <a href="https://www.github.com/ANMillerIII/">
          <i class="fa fa-github icon"></i>
        </a>
      </div>
      <div class="column">
        <a href="../static/assets/resume/resume.pdf" download="resume">
          <i class="fa fa-file-pdf-o icon"></i>
        </a>
      </div>
      <div class="column">
        <a href="mailto:albert.miller@uconn.edu">
          <i class="material-icons icon">&#xe0e1;</i>
        </a>
      </div>
    </div>
  </div>
</div>